{%- extends 'lab/index.html.j2' -%}

{%- block html_head_css -%}
  {{ super() }}
  <style>

    html {
      scroll-behavior: smooth;
    }
    @font-face {
      font-family: 'inherit';
      font-style: normal;
      font-weight: 600;
      font-size: x-large;
    }
    h1, h2, h3, h4, h5 {
      font-family: "inherit", sans-serif
    }
    .jp-RenderedHTMLCommon h5 {
      font-weight: bold;
      font-style: italic;
    }
    #header {
      overflow: hidden;
      background-color: #f1f1f1;
      padding: 20px 10px;
    }
    .logo-container {
      margin: auto;
      width: fit-content;
    }
    .jp-OutputArea-executeResult {
      display: flex;
      justify-content: center;
    }
    [data-mime-type="text/markdown"] {
      margin-top: 20px;
    }
    [data-mime-type="text/plain"] {
      display: none;
    }
    table {
      width: auto;
    }
    .jp-mod-noOutputs {
      display: none;
    }
    #back2toc {
      position: fixed;
      bottom: 0;
      right: 0;
      font-size: 15px;
      background-color: black;
      color: #F1F1F1;
      padding: 10px;
      font-weight: bold;
      opacity: 0.75;
      border-radius: 5px;
    }
    h1 a.anchor-link,
    h2 a.anchor-link,
    h3 a.anchor-link,
    h4 a.anchor-link,
    h5 a.anchor-link {
      display: none;
    }
    h1:hover a.anchor-link,
    h2:hover a.anchor-link,
    h3:hover a.anchor-link,
    h4:hover a.anchor-link,
    h5:hover a.anchor-link {
      display: contents;
    }

  </style>
{%- endblock html_head_css -%}

{% block body_header %}
  <body class="jp-Notebook theme-light" style="padding: 0; margin: 0;">
  <div id="header">
    <div class="logo-container">
      {% include 'flowkey_insights.svg' %}
    </div>
  </div>
  <div style="margin-left: 50px; margin-right: 50px; margin-bottom: 50px">
{% endblock body_header %}

{% block body_footer %}
  </div>
  <a href="#contents"> 
    <div id="back2toc">
      ⬆️ Back to Contents
    </div>
  </a>
  {% block javascript %}
    <script type="text/javascript">
      {% include "script.js" %}
    </script>
  {% endblock %}
  </body>
{% endblock body_footer %}
